<!DOCTYPE html>
<html lang="en" th:fragment="parent(title, content, link, script)" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title data-th-replace="${title}">SCM</title>

    <th:block data-th-replace="${link}" />
    <link rel="stylesheet" data-th-href="@{css/output.css}">

    <!-- flowbite -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" /> -->

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body class="dark:bg-gray-900 bg-gray-100 dark:text-white">

    <!-- common header -->
    <div data-th-replace="~{navbar :: navbar}"></div>

    <!-- main content -->
    <div class="p-4 h-screen w-full">
        <section data-th-replace="${content}"></section>
    </div>


    <!-- common footer -->
    <footer class="p-4">
        Footer: Learning from code with durgesh-
        <a href="https://github.com/Rajrc2001/scm">SCM Project</a>
    </footer>


    <!-- flowbite js -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script> -->

    <script data-th-src="@{/js/script.js}"></script>
    <th:block data-th-replace="${script}" />
</body>

</html>