<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is services page</h1>

    <div data-th-replace="~{base :: parent(~{::.third_content})}">
        <section id="main_content">
            <h2>Dynamic Service Content</h2>
            <p>This is main dynamic content</p>
        </section>

        <section id="second_content">
            <h2>Dynamic Service Content</h2>
            <p>This is second dynamic content</p>
        </section>

        <section class="third_content">
            <h2>Dynamic Service Content</h2>
            <p>This is third dynamic content</p>
        </section>
    </div>
</body>

</html>