<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::title}, ~{::#content}, ~{}, ~{})}">

<head>
    <title>SCM: Services</title>
</head>

<body>
    <div id="content">
        <h1>welcome to services page!</h1>
        <h2>services offered by SCM</h2>
        
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio obcaecati velit cum cupiditate officiis eos eius quo sunt aperiam possimus?</p>
    </div>

    <!-- <script>
        console.log("SCM: Services Page")
    </script> -->
</body>

</html>